{% extends 'base.html' %}
{%load static %}

{%block topblurb%}
<h1>Owners of Cusips</h1>
{%endblock%}

{% block content %}
<table id="table_id" class="table">

      <thead>
        <tr>


            <th scope='col'>NAME</th>
            <th scope='col'>CIK</th>

        </tr>



      </thead>
      <tbody>

        {%for value in object_list%}
        <tr>

            <td><a href="{{value.get_absolute_url}}">{{value}}</a></td>

        </tr>
        {% endfor %}


      </tbody>

    </table>


{%endblock%}

{% block scripts %}


    <script charset="utf-8" src="{% static 'script/datatable.js' %}"></script>

{%endblock%}
