{% extends 'base.html' %}
{%load static %}

{%block topblurb%}
<h1>Standard Industrial Classification along side NAICS </h1>
{%endblock%}

{% block content %}
<table id="table_id" class="table">

      <thead>
        <tr>


            <th scope='col'>SIC Code</th>
            <th scope='col'>SIC Name</th>

            <th scope='col'>NAICS Code</th>
            <th scope='col'>NAICS Name</th>

            <th scope='col'>SEC SIC Code</th>
            <th scope='col'>SEC SIC Name</th>



        </tr>



      </thead>
      <tbody>

        {%for value in object_list%}
        <tr>

            <td><a href="{{value.get_absolute_url}}">{{value.sic}}</a></td>
            <td><a href="{{value.get_absolute_url}}">{{value.sic_desc}}</a></td>
            <td><a href="{{value.get_absolute_url}}">{{value.naics}}</a></td>
            <td><a href="{{value.get_absolute_url}}">{{value.naics_desc}}</a></td>
            <td><a href="{{value.get_absolute_url}}">{{value.sec_code}}</a></td>
            <td><a href="{{value.get_absolute_url}}">{{value.sec_desc}}</a></td>

        </tr>
        {% endfor %}


      </tbody>

    </table>
{%endblock%}

{% block scripts %}


    <script charset="utf-8" src="{% static 'script/datatable.js' %}"></script>

{%endblock%}