<!DOCTYPE html>
{% load static %}
<html lang="en">

{% include './head_base.html' %}

<body class="container-fluid">


    {% include './nav_base.html' %}

    <div width="100%">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7525910399433491" crossorigin="anonymous"></script>
                    <!-- H_AD -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7525910399433491"
                         data-ad-slot="1707265193"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>

    <div class="vstack gap-3">

        <div class="container-fluid">

            <div class="row">

                <div class="col">

                </div>

            </div>

            <div class="row">

                <div id="top_blurb" class="col">

                    {%block topblurb%}This is an extra blurb{%endblock%}

                </div>


            </div>
        </div>




        <div class="container-fluid">

            <div class="row justify-content-md-center">

                <div id="div_main_content" class="col">

                     {% block content %}This is the Main Content Section {%endblock%}

                </div>



                <div class="col col-auto">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7525910399433491" crossorigin="anonymous"></script>
                    <!-- V_AD -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7525910399433491"
                         data-ad-slot="2567268332"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

            </div>


        </div>

        <div width="100%">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7525910399433491" crossorigin="anonymous"></script>
                        <!-- HF_AD -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-7525910399433491"
                             data-ad-slot="2942672853"
                             data-ad-format="auto"
                             data-full-width-responsive="true"></ins>
                        <script>
                             (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>


        </div>


        <div class="container-fluid">

            <div class="vstack gap-3">

                <div class='row'>
                    <div class='col'>

                    </div>
                </div>


                <div class="row">

                    {%include './footer_base.html' %}

                </div>


            </div>

        </div>


    </div>






</body>

    {% block scripts %}{%endblock%}


</html>