{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="institutional investor private equity securities standard industrial classification adr">
    <meta name="description" content="Data provided the way you want it">
    <link rel="canonical" href="www.homepage.com">


    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static '/images/apple-touch-icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css'%}">
    
    <script charset="utf-8" src="{% static 'script/bootstrap.bundle.min.js'%}" ></script>
    <script charset="utf-8" src="{% static 'script/jquery-3.6.1.min.js' %}"></script>
    <script charset="utf-8" src="{% static 'script/datatables.min.js' %}"></script>
        
    
    <title>Securities, Equities, Institutional Investors</title>
</head>
    
