     
  <table id="table_id" class="table">

      <thead>
        <tr>
           {% comment %} Processed in Browser so Datatables knows which columns to use if use object instead of arrays {% endcomment %}
          {%for header in context.headers%}
            <th scope='col'>

                {{header}}

            </th> 
            {% endfor %}
        </tr>



      </thead>
      <tbody>
        
        {% comment %} Server Side Processing {% endcomment %}
        <tr>
         
            <th scope="row"></th>

            <td></td>

        </tr>
          


      </tbody>
          
    </table>
